$color-background1: #1D1D1D;
//$color-background1: #E2E2E2;
$color-background2: #1F2833;
$color-background3: #414141;

$color-primary: #079BE0;
$color-primaryDark: #4687AE;
//$color-primary: #35ff32;
//$color-primary: #1B0AD7;

$color-grayLight1: #E1E1E1;